<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Order</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Create New Order</h2>
    <form th:action="@{/order/create}" method="post">
        <div class="form-group">
            <label for="author">Author Name</label>
            <input type="text" class="form-control" id="author" name="author" required placeholder="Enter your name">
        </div>
        <button type="submit" class="btn btn-primary">Create Order</button>
        <a th:href="@{/}" class="btn btn-secondary">Back to Home</a>
    </form>
</div>
</body>
</html>